.btn{
  cursor: pointer;
}

td{
  white-space: nowrap;
  overflow: hidden;
}
.blueComp{
  background: blue;
  color: white;
}
.yellowComp{
  color: black;
  background: yellow;
}
.orangeComp{
  color: white;
  background: orangered;
}
.redComp{
  color: white;
  background: red;
}
